<template>
	<div>
		
	    <section class="content">
	      	<div class="row">
		        <div class="col-12">
		          	<div class="card">
			            <div class="card-header">
			              <h3 class="card-title"><strong>Road List</strong></h3>

			              <button style="float: right;" type="button" class="btn btn-primary" @click="addModal"><i class="fa fa-plus"></i>
						  Add Road
						  </button>

			            </div>
			            <!-- /.card-header -->
			            <div class="card-body">
			              <table id="example2" class="table table-bordered table-hover">
			                <thead>
			                <tr>
			                  <th>Serial No</th>
			                  <th>Spot Name</th>
			                  <th>Transport Name</th>
			                  <th>Hotel Name</th>
			                  <th>Name</th>
			                  <th>Distance</th>
			                  <th>Cost</th>
			                  <th>Map</th>
			                  <th>Action</th>
			                </tr>
			                </thead>
			                <tbody>
			                <tr v-for="(data,index) in getAllRoads">
			                  <td>{{ 1+index }}</td>
			                  <td v-if="data.historical">{{ data.historical.name | shortLength(10,"...") }}</td>
			                  <td v-if="data.transport">{{ data.transport.name | shortLength(10,"...") }}</td>
			                  <td v-if="data.hotel">{{ data.hotel.name | shortLength(10,"...") }}</td>
			                  <td v-else="null">null</td>
			                  <td>{{ data.name | shortLength(10,"...") }}</td>
			                  <td>{{ data.distance }}</td>
			                  <td>{{ data.cost }}</td>
			                  <td>{{ data.map | shortLength(20,"...") }}</td>
			                  <td>
			                  	
			                  	<button @click="editModal(data)" class="btn btn-primary"><i class="fas fa-edit"></i></button>
			                  	<button @click="delete_road(data.id)" class="btn btn-danger"><i class="fas fa-trash"></i></button>
			                  </td>
			                </tr>
			                
			                </tbody>
			              </table>
			            </div>
		            <!-- /.card-body -->
		        	</div>
		          <!-- /.card -->
		        </div>  
		    </div>     
	    </section>
		


		<!-- Modal -->
		<div class="modal fade bd-example-modal-lg" id="addTransport" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
		  <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
		    <div class="modal-content">
		      <div class="modal-header" style="background-color: #007BFF;color: #fff;">
		        <h5 class="modal-title" v-show="editMode" id="exampleModalScrollableTitle">Update Road Info...</h5>
		        <h5 class="modal-title" v-show="!editMode" id="exampleModalScrollableTitle">Add Road Info...</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span style="color: #fff;" aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <form role="form" enctype="multipart/form-data" @submit.prevent="editMode ? update_road() : add()">
	                <div class="card-body">
	                  <div class="form-group">
	                  	<div  v-show="skip" style="float: right;">
	                  		<p>If you need to add Hotel Name please <a href="#" @click="skippingBtn">
	                  				<strong>Click</strong>
	                  			</a>
	                  		</p>
	                		
	                  	</div>
	                    <label>Historical Place</label>
	                    <select class="form-control" :class="{ 'is-invalid': form.errors.has('historical_id') }" v-model="form.historical_id">
							  <option disabled value="">select historical place</option>
							  <option selected="selected" :value="spot.id" v-for="spot in getAllSpots">{{ spot.name }}</option>
						</select>
						
						<has-error :form="form" field="historical_id"></has-error>
	                  </div>
	                  <div class="form-group">
	                    <label>Transport Name</label>
	                    <select class="form-control" :class="{ 'is-invalid': form.errors.has('transport_id') }" v-model="form.transport_id">
							  <option disabled value="">select transport...</option>
							  <option :value="transport.id" v-for="transport in getAllTransports">{{ transport.name }}</option>
						</select>
						
						<has-error :form="form" field="transport_id"></has-error>
	                  </div>
	                  <div class="form-group" v-show="!skip">
	                    <label>Hotel Name</label>
	                    <select class="form-control" :class="{ 'is-invalid': form.errors.has('hotel_id') }" v-model="form.hotel_id">
							  <option disabled value="">select hotel...</option>
							  <option :value="hotel.id" v-for="hotel in getAllHotels">{{ hotel.name }}</option>
						</select>
						<button type="button" class="btn btn-primary skip" @click="skipping"><i class="fas fa-times iskip"></i></button>

						<has-error :form="form" field="hotel_id"></has-error>
	                  </div>
	                  <div class="form-group">
	                    <label for="exampleInputEmail1">Name</label>
	                    <input name="name" v-model="form.name" type="text" id="exampleInputEmail1" class="form-control" placeholder="Enter place name" :class="{ 'is-invalid': form.errors.has('name') }">
							<has-error :form="form" field="name"></has-error>
	                  </div>
	                  <div class="form-group">
	                    <label for="exampleInputPassword1">Distance</label>
	                    <input name="distance" v-model="form.distance" type="text" class="form-control" placeholder="enter distance" :class="{ 'is-invalid': form.errors.has('distance') }">
	                    <has-error :form="form" field="distance"></has-error>
	                  </div>
	                  <div class="form-group">
	                    <label for="exampleInputPassword1">Cost</label>
	                    <input name="cost" v-model="form.cost" type="text" class="form-control" placeholder="enter cost" :class="{ 'is-invalid': form.errors.has('cost') }">
	                    <has-error :form="form" field="cost"></has-error>
	                  </div>
	                  
                      <div class="form-group">
                        <label>Map</label>
                        <textarea v-model="form.map" name="map" class="form-control" rows="3" placeholder="Enter map iframe code..."></textarea>
                      </div>
	                </div>
			      <div class="modal-footer">
			        <button type="submit" v-show="editMode" style="width: 100%"class="btn btn-success">Update</button>
			        <button type="submit" v-show="!editMode" style="width: 100%"class="btn btn-primary">Submit</button>
			      </div>
	            </form>
		      </div>
		    </div>
		  </div>
		</div>

	</div>
</template>

<script>
	export default{
		name:"road_list",
		data(){
			return{
				editMode:false,
				skip:false,
				skipBtn:false,
				form: new Form({
					id:"",
					historical_id:"",
					transport_id:"",
					hotel_id:"",
					name:"",
					distance:"",
					cost:"",
					map:""
					
				})
			}
		},
		mounted(){
			this.$store.dispatch("spots"),
			this.$store.dispatch("transports"),
			this.$store.dispatch("hotels"),
			this.$store.dispatch("roads")
		},

		computed:{
			getAllSpots(){

				return this.$store.getters.getSpot
			},
			getAllTransports(){
				return this.$store.getters.getTransport
			},
			getAllHotels(){
				return this.$store.getters.getHotel
			},
			getAllRoads(){
				return this.$store.getters.getRoad
			}
		},

		methods:{
			editModal(data){
                this.editMode = true;
                this.form.reset();
                $('#addTransport').modal('show');
                this.form.fill(data);
            },
            addModal(){
                this.editMode = false;
                this.form.reset();
                $('#addTransport').modal('show');
            },

            skipping(){
            	this.skip=true;
            	this.skipBtn=true;
            	
            },

            skippingBtn(){
            	this.skipBtn=false;
            	this.skip=false;
            	
            },
			
            add(){
				
				this.form.post('/road_store')
				.then((response)=>{
					
					 $('#addTransport').modal('hide');
					this.$store.dispatch("roads")
					Toast.fire({
					  icon: 'success',
					  title: 'Road added in successfully'
					})
				})
				.catch(()=>{

				})
			},

			update_road(){

				this.form.put('/road_update/'+this.form.id)
				.then(()=>{
					$('#addTransport').modal('hide');
					this.$store.dispatch("roads")
					Toast.fire({
					  icon: 'success',
					  title: 'Updated successfully'
					})
				})
				.catch(()=>{

				})
			},

			delete_road(id){
            	axios.get('/road_destroy/'+id)
            	.then(()=>{
            		this.$store.dispatch("roads")
            		Toast.fire({
					  icon: 'success',
					  title: 'Road deleted in successfully'
					})
            	})
            }

		}



	}
	
</script>

<style scoped>
	
	.btn.btn-primary{
		padding-right: 8px;
	}
	.btn.btn-danger{
		padding-right: 10px;
	}
	

	.label{
		float: left;
	}
	.control-file{
		margin-top: 170px;
	    margin-left: -180px;
	    width: 91px;
	    float: left;
	}
	.skip{
		float: right;
	    margin-right: -34px;
	    margin-top: -34px;
	    border-radius: 50%;
	    text-align: center;
	    padding-top: 10px;
	    line-height: 0;
	}
	.iskip{
		margin-left: -1px;
		margin-top: -2px;
	}
</style>