<template>
	<div>
		
	    <section class="content">
	      	<div class="row">
		        <div class="col-12">
		          	<div class="card">
			            <div class="card-header">
			              <h3 class="card-title"><strong>Transport List</strong></h3>

			              <button style="float: right;" type="button" class="btn btn-primary" @click="addModal"><i class="fa fa-plus"></i>
						  Add Transport
						  </button>

			            </div>
			            <!-- /.card-header -->
			            <div class="card-body">
			              <table id="example2" class="table table-bordered table-hover">
			                <thead>
			                <tr>
			                  <th>Serial No</th>
			                  <th>Spot Name</th>
			                  <th>Name</th>
			                  <th>Address</th>
			                  <th>Description</th>
			                  <th>Map</th>
			                  <th>Image</th>
			                  <th>Action</th>
			                </tr>
			                </thead>
			                <tbody>
			                <tr v-for="(data,index) in getAllTransports">
			                  <td>{{ 1+index }}</td>
			                  <td v-if="data.historical">{{ data.historical.name | shortLength(10,"...") }}</td>
			                  <td>{{ data.name | shortLength(10,"...") }}</td>
			                  <td>{{ data.address | shortLength(10,"...") }}</td>
			                  <td>{{ data.description | shortLength(30,"...") }}</td>
			                  <td>{{ data.map | shortLength(30,"...") }}</td>
			                  <td>
			                  	<img class="imgStyle" :src="ourImage(data.cover_photo)" alt="image">
			                  	<!-- <img class="imgStyle" :src="ourImage(data.image2)" alt="image">
			                  	<img class="imgStyle" :src="ourImage(data.image3)" alt="image"> -->
			                  </td>
			                  <td>
			                  	
			                  	<button @click="editModal(data)" class="btn btn-primary"><i class="fas fa-edit"></i></button>
			                  	<button @click="delete_transport(data.id)" class="btn btn-danger"><i class="fas fa-trash"></i></button>
			                  </td>
			                </tr>
			                
			                </tbody>
			              </table>
			            </div>
		            <!-- /.card-body -->
		        	</div>
		          <!-- /.card -->
		        </div>  
		    </div>     
	    </section>
		


		<!-- Modal -->
		<div class="modal fade bd-example-modal-lg" id="addTransport" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
		  <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
		    <div class="modal-content">
		      <div class="modal-header" style="background-color: #007BFF;color: #fff;">
		        <h5 class="modal-title" v-show="editMode" id="exampleModalScrollableTitle">Update Transport Info...</h5>
		        <h5 class="modal-title" v-show="!editMode" id="exampleModalScrollableTitle">Add Transport Info...</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span style="color: #fff;" aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <form role="form" enctype="multipart/form-data" @submit.prevent="editMode ? update_transport() : add()">
	                <div class="card-body">
	                  <div class="form-group">
	                    <label for="exampleInputEmail1">Historical Place</label>
	                    <select class="form-control form-control-sm" :class="{ 'is-invalid': form.errors.has('historical_id') }" v-model="form.historical_id">
							  <option disabled value="">select historical place</option>
							  <option :value="spot.id" v-for="spot in getAllSpots">{{ spot.name }}</option>
						</select>
						
						<has-error :form="form" field="historical_id"></has-error>
	                  </div>
	                  <div class="form-group">
	                    <label for="exampleInputEmail1">Name</label>
	                    <input name="name" v-model="form.name" type="text" id="exampleInputEmail1" class="form-control" placeholder="Enter place name" :class="{ 'is-invalid': form.errors.has('name') }">
							<has-error :form="form" field="name"></has-error>
	                  </div>
	                  <div class="form-group">
	                    <label for="exampleInputPassword1">Address</label>
	                    <input name="address" v-model="form.address" type="text" class="form-control" id="exampleInputPassword1" placeholder="enter address" :class="{ 'is-invalid': form.errors.has('address') }">
	                    <has-error :form="form" field="address"></has-error>
	                  </div>
	                  <div class="form-group">
                        <label>Description</label>
                        <vue-editor v-model="form.description" name="description"placeholder="Enter description" />
                        <has-error :form="form" field="description"></has-error>
                      </div>
                      <div class="form-group">
                        <label>Map</label>
                        <textarea v-model="form.map" name="map" class="form-control" rows="3" placeholder="Enter map iframe code..."></textarea>
                      </div>
	                  <div class="form-group">
	                    <label class="label" for="exampleInputFile">Image</label>

	                        <img :src="editMode ? updateImage1() : form.cover_photo" alt="" class="img-style">
	                        <input name="cover_photo" @change = "changePhoto1($event)" type="file"class="control-file" :class="{ 'is-invalid': form.errors.has('cover_photo') }">
	                        <has-error :form="form" field="cover_photo"></has-error>
	                      	
	                  </div>
	                </div>
	                <!-- /.card-body -->

	                <!-- <div class="card-footer">
	                  <button style="width: 100%" type="submit" class="btn btn-primary">Submit</button>
	                </div> -->
			      <div class="modal-footer">
			        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
			        <button type="submit" v-show="editMode" style="width: 100%"class="btn btn-success">Update</button>
			        <button type="submit" v-show="!editMode" style="width: 100%"class="btn btn-primary">Submit</button>
			      </div>
	            </form>
		      </div>
		    </div>
		  </div>
		</div>

	</div>
</template>

<script>
	export default{
		name:"transport_list",
		data(){
			return{
				editMode:false,
				form: new Form({
					id:"",
					historical_id:"",
					name:"",
					address:"",
					description:"",
					map:"",
					cover_photo:""
					
				})
			}
		},
		mounted(){
			this.$store.dispatch("spots"),
			this.$store.dispatch("transports")
		},

		computed:{
			getAllSpots(){

				return this.$store.getters.getSpot
			},
			getAllTransports(){
				return this.$store.getters.getTransport
			}
		},

		methods:{
			editModal(data){
                this.editMode = true;
                this.form.reset();
                $('#addTransport').modal('show');
                this.form.fill(data);
            },
            addModal(){
                this.editMode = false;
                this.form.reset();
                $('#addTransport').modal('show');
            },
			changePhoto1(event){
				let file = event.target.files[0];
				let reader = new FileReader();
                     reader.onload = event => {
                        this.form.cover_photo = event.target.result
                        
                     };
                     reader.readAsDataURL(file);
			},
			
			ourImage(img){
                return "/images/"+img;
            },

            add(){
				
				this.form.post('/transport_store')
				.then((response)=>{
					console.log(response.data)
					 $('#addTransport').modal('hide');
					this.$store.dispatch("transports")
					Toast.fire({
					  icon: 'success',
					  title: 'Transport added in successfully'
					})
				})
				.catch(()=>{

				})
			},

			update_transport(){

				this.form.put('/transport_update/'+this.form.id)
				.then(()=>{
					$('#addTransport').modal('hide');
					this.$store.dispatch("transports")
					Toast.fire({
					  icon: 'success',
					  title: 'Updated successfully'
					})
				})
				.catch(()=>{

				})
			},

			delete_transport(id){
            	axios.get('/transport_destroy/'+id)
            	.then(()=>{
            		this.$store.dispatch("transports")
            		Toast.fire({
					  icon: 'success',
					  title: 'Transport deleted in successfully'
					})
            	})
            },

			updateImage1(){
				let img = this.form.cover_photo
				if (img.length>100) {
					return this.form.cover_photo
				}else{
					return "/images/"+this.form.cover_photo
				}
			}
			

		}



	}
	
</script>

<style scoped>
	.imgStyle{
		background-image: repeating-linear-gradient(45deg, black, transparent 100px);
		float: left;
    	margin-right: 5px;
    	width:40px;
    	height:50px;
	}
	.btn.btn-primary{
		padding-right: 8px;
	}
	.btn.btn-danger{
		padding-right: 10px;
	}
	.img-style {
  	
    width: 150px;
    height: 140px;
    margin-bottom: 5px;
    margin-top: 25px;
    float: left;
    margin-right: 57px;
    border: dashed 1.5px blue;
	background-image: repeating-linear-gradient(45deg, black, transparent 100px);
	}

	.label{
		float: left;
	}
	.control-file{
		margin-top: 170px;
	    margin-left: -180px;
	    width: 91px;
	    float: left;
	}
</style>